langchain
langchain_community
beautifulsoup4  
lxml
langchain-text-splitters
langchain-experimental 
sentence-transformers
langchain_huggingface
langchain-nomic
faiss-cpu
langchain-chroma
chromadb
rank-bm25
sentence-transformers
langchain-ollama
fastapi
streamlit
ragas 
datasets
langchain-google-vertexai